body {background-color: crimson;}
h1 {color: burlywood;}

.p3{text-align: center;
    font-size: 150%;
     color: rgb(126, 6, 30);}

.p1{border-width: 5px;
    border-color: rgb(29, 5, 51);
    border-style: double;
    margin-left: 40%;
    margin-right: 45%;
    padding-left: 2%;
    padding-top: 5%;}

    .p1 {background-color: firebrick;}